PORT=3000
NODE_ENV=development
DB_HOST=localhost
DB_PORT=3306
DB_NAME=inventario_db
DB_USER=root
DB_PASS=
DB_AUTO_ALTER=false
JWT_SECRET=troque-por-um-segredo-longo-e-aleatorio
CORS_ORIGINS=http://localhost:3401,https://plataforma.armazenacerto.com.br,https://armazenacerto.com.br,https://www.armazenacerto.com.br
